<!DOCTYPE html>
<html lang="en">
<%- include('_head') %>
<body>

  <div id="app-header-mount"></div>

  <div id="tab-restricted" class="app-body">
    <div id="page-heading-mount"></div>
    <div id="main-content">
      <div id="access-restricted-root"></div>
    </div>
  </div>

  <div id="app-bottom-nav-mount"></div>
  <div id="app-bottom-bar-mount"></div>

  <script type="module" src="/react/main.js"></script>

</body>
</html>
